@import "../../common_sass/common";

#About {
  display: flex;
  flex-direction: column;

  .line {
    padding: 0.03em;
    width: 99%;
    background: #d3d3d3;
    margin-bottom: 1em;
  }

  .AboutusContainer {
    h2 {
      font-family: "Abel", sans-serif;
      color: #182c61;
      text-align: left;
      font-size: 5.5vmin;
      letter-spacing: 0.8px;
    }
    p {
      @include para-default;
    }

    ul {
      list-style: circle;
      padding: 1em;
      box-sizing: border-box;

      li {
        font-family: "Abel", sans-serif;
        font-weight: 700;
        margin-bottom: 0.5em;
        text-align: left;
        color: #4e4e4e;
      }
    }
  }
}

#MissionVision {
  display: flex;
  flex-direction: column;
  .missionVisionContainer {
    height: 60vh;
    .line {
      padding: 0.03em;
      width: 99%;
      background: #d3d3d3;
      margin-bottom: 1em;
    }
    .subSection {
      margin-top: 2em;
      margin-bottom: 4em;
    }
    h1,
    h2 {
      font-family: "Abel", sans-serif;
      color: #182c61;
      text-align: left;
      letter-spacing: 0.8px;
    }
    h1 {
      font-size: 5.5vmin;
    }
    p {
      @include para-default;
    }
  }
}

#JPGroup {
  display: flex;
  flex-direction: column;
  .JPGroupContainer {
    height: 60vh;
    .line {
      padding: 0.03em;
      width: 99%;
      background: #d3d3d3;
      margin-bottom: 1em;
    }
    h1,
    h2 {
      font-family: "Abel", sans-serif;
      color: #182c61;
      text-align: left;
      letter-spacing: 0.8px;
    }
    h1 {
      font-size: 5.5vmin;
    }

    p {
      @include para-default;
    }

    .button {
      padding: 0.35em;
      text-align: center;
      text-decoration: none;
      font-size: 10px;
      color: white;
      background: #f86c39;
      border-radius: 0.2em;
    }
  }
}

.check {
  color: red;
}
