@import "../../common_sass/common";

#About {
  display: flex;
  flex-direction: column;

  .line {
    padding: 0.03em;
    width: 99%;
    background: #d3d3d3;
    margin-bottom: 1em;
  }

  .AboutusContainer {
    h2 {
      font-family: "Abel", sans-serif;
      color: #182c61;
      text-align: left;
      font-size: 5.5vmin;
      letter-spacing: 0.8px;
    }
    p {
      margin: 0.5em 0 0.5em 0;
      text-align: justify;
      font-family: "Abel", sans-serif;
      line-height: 28px;
      color: #4e4e4e;
      font-weight: 700;
    }

    ul {
      list-style: circle;
      padding: 1em;
      box-sizing: border-box;

      li {
        font-family: "Abel", sans-serif;
        font-weight: 700;
        margin-bottom: 0.5em;
        text-align: left;
        color: #4e4e4e;
      }
    }
  }
}
