{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    // ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    ["react-loadable/babel"],
    ["@babel/plugin-syntax-dynamic-import"]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "css-modules-transform",
          {
            "preprocessCss": "./node_modules/sass-loader/lib/loader.js",
            "generateScopedName": "[hash:8]",
            "extensions": [".scss"]
          }
        ]
      ]
    }
  }
}
