<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="description" content="Jaypee University of Engineering and Technology, Guna is Grade 'A' Accredited by NAAC, and NIRF-2018 Ranked University. JUET is among best engineering universities in madhya pradesh, largest and best private university in MP offers B Tech Admissions in Computers Sc, Electronics, Mechanical, Civil, and Chemical Engineering." />
            <meta name="keywords" content="B.tech. Admission, Admission-2019, B.Tech. Admission-2019, Best private university in madhy pradesh, engineering institute in india, engineering institute in madhya pradesh, top engineering college, institute, university in madhya pradesh and in india, apply online for b.tech admission, institute for higher education, NIRF Ranked university, 
            A grade university  accredited by NAAC, UGC approved university, engineering university, technical university in madhya pradesh"/>            
            <title><%- PageTitle %></title>
            <meta name="author" content="Sushant Singh (sushantr134@gmail.com)">
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="theme-color" content="#003A68">
            <meta name="is-http2" content="true">
            <link rel="manifest" href="/static/manifest.json">
            <link rel="icon" href="/static/favicon.ico"/>
            <link rel="stylesheet" href="/main.css" />
            <script>window.__DATA_FROM_SERVER__='<%-dataFromServer%>'</script>
        </head>
        <body>