*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.StudentClubs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-auto-rows: none;
  grid-gap: 1em;
  margin: 0 auto;
  justify-items: center;
  padding: 2em 8% 2em 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f0f0f0de;
  -webkit-box-shadow: 1px 3px 4px 0px lightgrey;
          box-shadow: 1px 3px 4px 0px lightgrey;
}

.StudentClubs .StudentClubs__mainView {
  width: 100%;
}

.StudentClubs .StudentClubs__mainView .clubMainView {
  position: relative;
}

.StudentClubs .StudentClubs__mainView .clubMainView .clubDetails {
  position: absolute;
  top: 0;
  width: 90%;
  height: 40vh;
  max-height: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s;
  transition: -webkit-transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s;
  transition: transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s;
  transition: transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s, -webkit-transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s;
  background: rgba(0, 0, 0, 0.35);
}

.StudentClubs .StudentClubs__mainView .clubMainView .clubDetails a {
  background: crimson;
  color: white;
  padding: 0.8em;
  text-align: center;
  border-radius: 0.25em;
  letter-spacing: 0.45px;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.789rem;
}

.StudentClubs .StudentClubs__mainView .clubMainView img {
  width: 90%;
  max-width: 95%;
  height: 40vh;
  cursor: pointer;
  z-index: 2;
  max-height: 600px;
}

.StudentClubs .StudentClubs__mainView .clubMainView:hover > .clubDetails {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
  transition: -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s, -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}

.StudentClubs .StudentClubs__mainView .clubMainView:hover > img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.StudentClubs .StudentClubs__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: none;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.StudentClubs .StudentClubs__container header {
  position: absolute;
  width: 100%;
  top: -1em;
}

.StudentClubs .StudentClubs__container header h1 {
  text-align: center;
  color: #003a68;
}

.StudentClubs .StudentClubs__container header .line {
  width: 100%;
  margin-top: 0.8em;
  padding: 0.15em;
  background: goldenrod;
}

.StudentClubs .StudentClubs__container .club_Card {
  overflow: hidden;
  width: 100%;
}

.StudentClubs .StudentClubs__container .club_Card .club_container .club_photo {
  height: 150px;
  width: 150px;
  border-radius: 0.3em;
  overflow: hidden;
  border: 0.2em solid transparent;
  cursor: pointer;
  -webkit-transition: border cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  transition: border cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}

.StudentClubs .StudentClubs__container .club_Card .club_container .club_photo:hover {
  border: 0.2em solid gold;
  -webkit-transition: border cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  transition: border cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}

.StudentClubs .StudentClubs__container .club_Card .club_name {
  text-align: center;
  margin-top: 0.45em;
  font-size: 0.78rem;
  width: 100%;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 928px) {
  .StudentClubs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-auto-rows: none;
    grid-gap: 2em;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .StudentClubs .clubMainView img {
    width: 100% !important;
    max-width: 100% !important;
  }
  .StudentClubs .StudentClubs__container .club_Card {
    margin-top: 60%;
    width: 100%;
  }
  .StudentClubs .StudentClubs__container .club_Card .club_container .club_photo {
    width: 50vw;
    height: 50vw;
    max-height: 80px;
    max-width: 80px;
  }
}
/*# sourceMappingURL=studentClub.css.map */