@import "../../common_sass/_common";

.StudentClubs {
  @include gridMaker(2fr 1fr, none, 1em);
  margin: 0 auto;
  justify-items: center;
  padding: 2em 8% 2em 8%;
  box-sizing: border-box;
  background: $themeBgColor;
  box-shadow: 1px 3px 4px 0px lightgrey;
  .StudentClubs__mainView {
    width: 100%;
    .clubMainView {
      position: relative;
      .clubDetails {
        position: absolute;
        top: 0;
        width: 90%;
        height: 40vh;
        max-height: 600px;
        box-sizing: border-box;
        z-index: 100;
        @include AlignCenter;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s;
        background: rgba($color: #000000, $alpha: 0.35);
        a {
          background: crimson;
          color: white;
          padding: 0.8em;
          text-align: center;
          border-radius: 0.25em;
          letter-spacing: 0.45px;
          font-weight: bold;
          text-decoration: none;
          font-size: 0.789rem;
        }
      }
      img {
        align-items: center;
        width: 90%;
        max-width: 95%;
        height: 40vh;
        cursor: pointer;
        z-index: 2;
        max-height: 600px;
      }
      &:hover {
        & > .clubDetails {
          transform: scale(1, 1);
          transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
        }
        & > img {
          filter: blur(3px);
        }
      }
    }
  }
  .StudentClubs__container {
    @include gridMaker(1.5fr 1.5fr 1.5fr, none, 1em);
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
    position: relative;
    header {
      position: absolute;
      width: 100%;
      top: -1em;
      h1 {
        text-align: center;
        color: $themeTextColorBlue;
      }
      .line {
        width: 100%;
        margin-top: 0.8em;
        padding: 0.15em;
        background: goldenrod;
      }
    }
    .club_Card {
      overflow: hidden;
      width: 140px;
      .club_container {
        .club_photo {
          height: 140px;
          width: 100%;
          object-fit: center;
          border-radius: 0.3em;
          overflow: hidden;
          border: 0.2em solid transparent;
          cursor: pointer;
          transition: border cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
          &:hover {
            border: 0.2em solid gold;
            transition: border cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
          }
        }
      }
      .club_name {
        text-align: center;
        margin-top: 0.45em;
        font-size: 0.78rem;
        width: 100%;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  @media screen and (max-width: 928px) {
    & {
      @include gridMaker(none, none, 2em);
      justify-items: center;
      align-items: center;
      margin: 0 auto;

      .clubMainView {
        .clubDetails {
          width: 100% !important;
        }
        img {
          width: 100% !important;
          max-width: 100% !important;
        }
      }

      .StudentClubs__container {
        .club_Card {
          margin-top: 60%;
          width: 100%;
          .club_container {
            .club_photo {
              width: 50vw;
              height: 50vw;
              max-height: 80px;
              max-width: 80px;
            }
          }
        }
      }
    }
  }
}
