*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

b {
  font-family: "Abel", sans-serif;
  color: #003a68;
  font-weight: bolder;
}

@mixin para-default {
  margin: 0.5em 0 0.5em 0;
  text-align: justify;
  font-family: "Abel", sans-serif;
  line-height: 28px;
  color: #4e4e4e;
  font-weight: 700;
}

$themeTextColor: #6f6f6f;
$themeTextColorBlue: #003a68;
$themeBgColor: #f0f0f0de;
@mixin container($pad, $mar, $w, $h) {
  padding: $pad;
  @if $mar {
    margin: $mar;
  }
  width: $w;
  height: $h;
}

@mixin LineMaker($width, $pad, $color, $bottomMargin) {
  padding: $pad;
  width: $width;
  background: $color;
  margin-bottom: $bottomMargin;
}

@mixin gridMaker($template_col, $template_rows, $grid_gap) {
  display: grid;
  grid-template-columns: $template_col;
  grid-auto-rows: $template_rows;
  grid-gap: $grid_gap;
}

@mixin responsive_image($width) {
  width: $width;
  max-width: 100%;
}

@mixin AlignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin AlignCenterTop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin AlignCenterEnd {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin AlignEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
